<%- include('../partials/header') %>
<body>
<div class="container">
    <!-- Display welcome message for authenticated user -->
    <!-- <h1>Welcome,  displayName  </h1> -->
    
    <!-- Display cart contents -->
    <h2>Cart</h2>
    <% if (isEmpty) { %>
        <p>Your cart is empty.</p>
    <% } else { %>
        <!-- Display orders in a list -->
        <ul class="cart-items">
            <% orders.forEach(order => { %>
                <li>
                    <!-- Display order information -->
                    <h3>Order ID: <%= order._id %></h3>
                    <br><br>
                    <ul>
                        <% order.items.forEach(item => { %>
                            <li>
                                <p><%= item.name %></p>
                                <br>
                                <p>Price: $<%= item.price %></p>
                                <form action="/orders/delete/<%= item._id %>" method="POST">
                                    <button type="submit">Remove Item</button>
                                </form>
                            </li>
                            <br><br>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
        <h3>Total: $<%= total.toFixed(2) %></h3>
    <% } %>

    <br><br>

    <% console.log("Is cart empty?", isEmpty); %> <!--remove after -->
    <form action="/checkout" method="GET">
        <!-- Disable checkout button if cart is empty -->
        <button <% if (isEmpty) { %> disabled <% } %>>Checkout</button>
    </form>
    <!-- link to back to homepage -->
    <a href="/products">Continue Shopping</a>
</div>
    <%- include('../partials/footer') %>
