<%- include('../partials/header') %>

<div class="container">
    <div class="bckgrnd-crd">
    <h1>Welcome to My Shop</h1>

    <section id="shop-page">
        <div>Name: </div>
        <div><%= seller.name %></div>
        <div>Shop Page: </div>
        <div><%= seller.username %></div>
        <div>Items for Sale: </div>
        <div><%= seller.itemsForSale %></div>
    </section>

    <br><br><h2>Reviews</h2>
    </div>
</div>

<%- include('../partials/footer') %>
