<%- include('../partials/header', { title: 'User-Page' }) %>

<div class="container">

<div id="user-page-wrap">

<img src="<%= user.avatar %>" id="avt-img" >

  <table id="user-list">
      <thead class="usr-head">
          <tr>
              <th>UserName</th>
              <th>Email</th>
              <th><form id="update-username-form" method="POST" action="/users/<%= user._id %>/updateUsername">
                <input type="text" name="newUsername" placeholder="Enter new username" required>
                <button type="submit">Update Username</button>
              </form></th>
            </tr>
      </thead>
      <tbody>
          <tr>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
          </tr>
      </tbody>
  </table>
</div>


<h2>Items For Sale</h2>

<form id="rmv-itm-form" method="POST" action="/users/<%= user._id %>/removeItems">
    <div id="prv-wrap">
        <table id="prv-itm">
            <thead class="itm-head">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Link</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% user.itemsForSale.forEach(function(item) { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.description %></td>
                        <td>$<%= item.price %></td>
                        <td>
                            <img src="<%= item.image %>"  id="prdct-img">
                            <!-- <a href="/products/<%= item._id %>">
                                <input type="image" src="<%= item.image %>" name="image" id="prdct-img" /></a>      -->
                        </td>
                        <td><a href="/products/<%= item._id %>">Details</a></td>
                        <td><input type="checkbox" name="itemIds" value="<%= item._id %>"></td>
                    </tr>
                <% }); %>
                
            </tbody>
        </table>
    </div>
    <div id="edt-btn-wrap">
        <button type="submit" id="edt-btn">Remove Selected Items</button>
        <a href="/users/<%= user._id %>/items"><button id="edt-btn">Add Items</button></a>
    </div>
    
</form>
<!-- 
<div id="rev-wrap">
  <table id="usr-rev">
    <thead>
        <tr>
            <th>Product</th>
            <th>Rating</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <% user.reviews.forEach(function(review) { %>
            <tr>
                <td><%= review.product.name %></td>
                <td><%= review.rating %></td>
                <td><%= review.comment %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
</div> -->

</div>

<%- include('../partials/footer') %>
