<%- include('../partials/header') %>

<div class="container">
    <h1 class="title">All Products</h1>
    <table id="list">
        <thead>
            <tr>
                <th class="title">Product</th>
                <th class="title">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(p) { %>
                <tr>
                    <td><%= p.name %></td>
                    <td><%= p.price %></td>
                    <td><a href="/products/<%= p._id %>">DETAILS</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %>
