<%- include('../partials/header') %>

<div class="container">
    <h1 class="title">Product Details</h1>
        <section id="show-detail-page">
            <div>Name: </div>
            <div><%= product.name %></div>
            <div>Category: </div>
            <div><%= product.category %></div>
            <div>Color: </div>
            <div><%= product.color %></div>
            <div>Price: $ </div>
            <div><%= product.price %></div>
        </section>

        <br /><br />

        <img src="<%= product.image %>" class="image" >
        <br /><br />
        
        <div class="prdct-desc"><%= product.description %></div>
        <br><br>

        <button disabled>Add to Cart</button>
        <br /><br />

        <br /><br />

    <h2 class="title">Sold By: <%= seller.username %></h2>
    <img src="<%= seller.avatar %>" id="avt-img" >
    <a class="visit-shop" href="/shop/<%= seller.username %>">Visit <%= seller.username %>'s Shop</a>
</div>

<%- include('../partials/footer') %>
