<%- include('../partials/header') %>

<div class="container">
    <div class="bckgrnd-crd">
    <h1 class="title">Product Details</h1>
        <section id="show-detail-page">
          <div>Name:</div>
          <div><%= product.name %></div>
          <div>Category:</div>
          <div><%= product.category %></div>
          <div>Color:</div>
          <div><%= product.color %></div>
          <div>Price: $</div>
          <div><%= product.price %></div>
        </section>

        <br /><br />

        <img src="<%= product.image %>" class="image" >
        <br /><br />
        <form action="/orders/<%= product._id %>" method="POST">
          <button type="submit">Add to Cart</button>
        </form>
        
        <div class="prdct-desc"><%= product.description %></div>
        <br><br>

        <br /><br />

    <h2 class="title">Sold By: <%= seller.username %></h2>
    <img src="<%= seller.avatar %>" id="avt-img" >
    <a class="visit-shop" href="/shop/<%= seller.username %>">Visit <%= seller.username %>'s Shop</a>
    </div>
</div>

<%- include('../partials/footer') %>
